# Dependencies
node_modules/

# Build outputs
dist/
build/
.next/
out/
generated/

# Env files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
.idea/
.vscode/
*.swp

# Testing
coverage/
.nyc_output/

# Prisma generated client
prisma/generated/

# Misc
*.pem
.turbo/
.superpowers/
mockups/
